
/*
border-width : 4 px;
border-style: solid;
border-color:green;
*/
body{
    background-color: greenyellow;
}

div{
    height: 80px;
    width: 80px;
    position:fixed
}

#b1{
    background-color: white 80% black 20%;
    position: relative;
   
}
#b2{
    background-color: white 80% black 20%;
   position: relative;
   
    
}
#b3{
    background-color: white 80% black 20%;
    position: relative;
    
}
#b4{
    background-color: white 80% black 20%;
    position: relative;
   
}